@forward "colors";
@forward "boilerplate";
@forward "typography";
@forward "variables";

.main_container {
  width: 100%;
  max-width: 923px;
  margin: 0 auto;
  //padding: 0 170px;
}

.page_container {
  display: flex;
  min-height: var(--page-height);
}