.catalog {
  display: flex;
  flex-direction: column;
  padding-top: 21px;
  width: 100%;
  max-width: 705px;
  align-items: flex-start;
}

.carts_block {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}