.cart {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 13px;
  width: 235px;
  height: 430px;
  border: 1px solid #E2E8F0;
  cursor: pointer;
}

.header_cart {
  display: flex;
  justify-content: space-between;
}

.favorite_icon {
  margin-top: 10px;
  width: 20px;
  box-sizing: border-box;
}

.image_wrapper {
  position: relative;
  display: flex;
  width: 156px;
  height: 100%;
  margin: 0 auto;
}

.price {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xxl);
}